div{
    width: 90%;
    margin: auto;
}
img{
    width: 20px;
    height: 20px;
}

ng-template{
    background-color: transparent;
}

.button{
    background-color: transparent;
    border-color: transparent;
}


.img{
    height: 50px;
    width: 50px;
}