div{
    width: 90%;
    margin: auto;
}
img{
    width: 20px;
    height: 20px;
}
.img{
    height: 60px;
    width: 50px;
}

.button{
    background-color: transparent;
    border-color: transparent;
}