
.container{
    text-align: center;
    width: 98vw;
    height: 100px;
    background-color: #596CD9;
    margin: 0;
    display: block;
}
img{
    width: 100px;
    height: 80px;
    margin-top: 10px;
}
i {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
}
.menu{
    text-align: center;
    margin: 20px;
}

button{
    margin-left: 20px;
    background-color: #262629;
}