<div class="container">
  <img src="../assets/img/500_F_227375342_WnitNU3eerXDwuUORymudH4du9eNu8wH.png" alt="">
</div>
<p-card class="card-global">
  <div class="principal">
    <button pButton type="button" label="Usuarios" class="boton" routerLink="usuarios"></button>
    <button pButton type="button" label="Animales" class="boton" routerLink="animales"></button>
    <button pButton type="button" label="Ranking Usuarios" class="boton" routerLink="rankingUsuarios"></button>
    <button pButton type="button" label="Ranking Animales" class="boton" routerLink="rankingAnimales"></button>
  </div>
  <router-outlet></router-outlet>
</p-card>
