<p-card>
  <div>
    <img src="../../../assets/img/undraw_Social_influencer_re_beim.png" alt="">
    <button pButton type="button" label="Anuncios" class="boton advert" (click)="goAdverts()"></button>
    <button pButton type="button" label="Ranking Anuncios" class="boton ranking" (click)="goRankingAdverts()"></button>
  </div>
  
  <div>
    <button pButton type="button" label="Usuarios" class="boton user" (click)="goUser()"></button><br>
    <button pButton type="button" label="Animales" class="boton pet" (click)="goPet()"></button>
    <img class="img" src="../../../assets/img/undraw_friends_r511.png" alt="">
  </div>
</p-card>