/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Calistoga;
    src: url(assets/font/Calistoga-Regular.ttf);
}
h1{
    font-family: 'Calistoga';
}